@media (max-width: 575.98px) { 
    .btn-main{
        padding: 10px 30px;
    }

    .navbar{
        position: unset;
        padding: 15px 0;
    }

    .navbar .navbar-brand img{
        width: 150px;
    }

    .font-size-16-responsive{
        font-size: 14px;
    }

    #about{
        margin-top: 20px;
    }

    #about .first .inner_left_1 img{
        padding: 20px;
        height: 250px;
    }

    #about .first .inner_left_2{
        padding: 0 20px;
    }

    #about .second .inner_left_2 img{
        padding: 20px;
        height: 250px;
    }
    
    #about .second .inner_left_1{
        padding: 0 20px;
    }

    #admission img{
        height: 500px;
        object-fit: cover;
    }

    .pageHeader{
        margin-top: unset;
    }

    #aboutUsPage .left_block img{
        height: unset;
    }

    #galleryPage .gallery .single img{
        height: 200px;
        object-fit: cover;
    }

    .footer .centerBlock{
        padding-left: 10px;
    }
 }

@media (max-width: 767.98px) { 

 }

@media (max-width: 991.98px) { 

 }

@media (max-width: 1199.98px) { 

 }

@media (max-width: 1399.98px) { 

 }