body{
    font-family: 'Be Vietnam Pro', sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 20px 0;
}

.navbar .navbar-brand img{
    width: 200px;
}

.navbar .navbar-nav .nav-item{
    margin-right: 20px;
}

.navbar .navbar-nav .nav-item .nav-link{
    color: var(--secondary-color);
    font-weight: 600;
}

.navbar .navbar-nav .nav-item .nav-link:hover{
    color: var(--main-color);
}

#carousel .carousel-inner .carousel-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#admission{
    position: relative;
}

#admission::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 1, 1, 0.5);
}

#admission .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#admission img{
    width: 100%;
}

#admission .container{
    color: #fff;
}

#about, #admission{
    margin-top: 100px;
}

#about .first .inner_left_2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

#about .first .inner_left_1 img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#about .second .inner_left_2 img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#about .second .inner_left_1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}