@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

:root {
  --main-color: #ed3237;
  --secondary-color: #354b9c;
  --shadow-color: rgb(209, 209, 209);
}

.shadow-main {
  box-shadow: 0 10px 30px var(--shadow-color);
}

.shadow-main:hover {
    box-shadow: 0 20px 30px var(--shadow-color) !important;
  }

.text-main {
  color: var(--main-color);
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16-responsive {
  font-size: 16px;
}

.bg-white {
  background: #fff;
}

.btn-main {
  background: var(--main-color);
  color: #fff;
  padding: 15px 30px;
  border-radius: 60px;
}

.btn-main:active {
    transform: translateY(5px);
  }

.btn-main.shadow-main:focus {
  box-shadow: 0 10px 20px var(--shadow-color);
}

.btn-main:hover {
  background: var(--secondary-color);
  color: #fff;
}
